<div class="pf-admin">
    <div class="pf-login-viewport">
        <div class="login">
            <div>
                <img alt="{{ settings.sitename|raw }}" class="icon" src="{{ sitebanner|raw }}"/>
                <h1>Sign in to {{ settings.sitename|raw }}.</h1>
                {{ openform|raw }}
                {{ password_input|raw }}
                {{ button|raw }}
                {{ closeform|raw }}
            </div>

        </div>
    </div>
</div>
