<div class="pf-admin">
    <div class="pf-viewport">
        {% if admin_page_nav %}
            {% set vfilter_class = 'nav-content' %}
        {% endif %}
        <nav class="pf-nav{{ whitespace(vfilter_class) }}">
            <div class="pf-nav-column">
                <header class="pf-nav-menu">
                    <div class="pf-nav-details">
                        {% if sitebanner %}
                            <div class="brand">{{ sitebanner|raw }}</div>
                        {% else %}
                            <div class="title">{{ settings.sitename|raw }}</div>
                        {% endif %}
                    </div>
                    <div class="pf-nav-search">
                        <button class="search-btn" title="Search site (CTRL + K)" data-action="search">
                            <i class="fal fa-search fa-lg"></i>
                        </button>
                    </div>
                </header>
                <section class="nav-body">
                    {% if admin_page_nav %}
                        <div class="nav-top">
                            {{ admin_page_nav|raw }}
                        </div>
                    {% else %}
                        <div class="nav-top">
                            <ul class="main">
                                <li>
                                    <a href="{{ dashboard_uri|raw }}" class="active" title="Dashboard">
                                        <i class="fad fa-igloo fa-lg m-r-10"></i>Dashboard
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="Wang Ye">
                                        <i class="fad fa-window fa-lg m-r-10"></i>View Site
                                    </a>
                                </li>
                            </ul>
                            <ul class="sections">

                                {# Just view the contents and packages and also the 5th one #}
                                {% if admin_pages[1] %}
                                    {% for pages in admin_pages[1] %}
                                        <li><a href="{{ pages.admin_link }}">
                                                <span class="acp-icon">
                                                    {{ get_image(pages.admin_icon) }}
                                                </span>
                                                {{ pages.admin_title }}
                                            </a></li>
                                    {% endfor %}
                                {% endif %}


                                {# {% for section_key, section in admin_sections %} #}
                                {# <li data-section="{{ section_key }}"> #}
                                {# <a href="#limenu{{ section_key }}" class="section-view"> #}
                                {# <i class="far fa-angle-right"></i> #}
                                {# </a> #}
                                {# <a class="section-menu" href="#s{{ section_key }}"> #}
                                {# <i class="{{ section.icon }}"></i>{{ section.title|raw }} #}
                                {# </a> #}
                                {# {% if admin_pages[section_key] %} #}
                                {# <ul class="menu-container" style="display: none;"> #}
                                {# {% for pages in admin_pages[section_key] %} #}
                                {# <li><a href="{{ pages.admin_link }}"> #}
                                {# <i class="{{ pages.admin_icon }}"></i> #}
                                {# {{ pages.admin_title }} #}
                                {# </a></li> #}
                                {# {% endfor %} #}
                                {# </ul> #}
                                {# {% endif %} #}
                                {# </li> #}
                                {# {% endfor %} #}
                            </ul>
                        </div>
                        <div class="nav-bottom">
                            <div class="nav-bottom-wrapper">
                                <div class="nav-bottom-items">
                                    <div class="dropdown">
                                        <div class="pf-admin-flex">
                                            <div class="pf-admin-avatar" aria-expanded="false">
                                                {{ admin_avatar|raw }}
                                                <span class="status-badge on"></span>
                                            </div>
                                            <i class="far fa-angle-down"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <a href="{{ settings_uri|raw }}" class="pf-admin-settings">{{ get_image("settings") }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </section>
            </div>
        </nav>
        <main class="pf-main" role="main">
            <div class="pf-canvas{{ whitespace(main_width_class) }}">

                <header class="pf-canvas-header">
                    <h2>{% if admin_breadcrumbs %}
                            {% set index = 0 %}
                            {% for breadcrumbs in admin_breadcrumbs %}
                                {% if index %}
                                    <span><svg fill="none" viewBox="0 0 24 26"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.793 1.043a1 1 0 011.414 0l10.72 10.72a1.748 1.748 0 010 2.475l-10.72 10.72a1 1 0 01-1.414-1.415L15.336 13 4.793 2.457a1 1 0 010-1.414z" fill="#e8ebed"></path></svg></span>
                                {% endif %}
                                {% if loop.last or breadcrumbs["link"] is empty %}
                                    {{ breadcrumbs["title"]|raw }}
                                {% else %}
                                    <a href="{{ breadcrumbs["link"]|raw }}">{{ breadcrumbs["title"]|raw }}</a>
                                {% endif %}
                                {% set index = index + 1 %}
                            {% endfor %}
                        {% endif %}</h2>

                    {% if admin_buttons %}
                        <noscript>
                            <style>
                                .admin-buttons {
                                    display: none;
                                }
                                .admin-buttons-legacy {
                                    display: block;
                                }
                            </style>
                        </noscript>
                        <div class="admin-buttons">
                            {% for elem in admin_buttons %}
                                {{ elem|raw }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </header>

                <section class="pf-view-container">
                    {% if admin_notices %}
                        <div class="pf-view-notices">
                            {{ admin_notices|raw }}
                        </div>
                    {% endif %}
                    {{ content|raw }}
                </section>
                {% if footer_errors %}
                    <div class="footer-errors">
                        {{ footer_errors|raw }}
                    </div>
                {% endif %}
            </div>
        </main>
        <ul class="pf-admin-dropup">
            <li role="presentation">
                <div class="group-heading">
                    <div class="avatar">{{ admin_avatar|raw }}</div>
                    <div class="user-info">
                        <h4>{{ userdata.user_name }}</h4>
                        <span class="email">{{ userdata.user_email }}</span>
                    </div>
                </div>
            </li>
            <li role="separator" class="divider"></li>
            <li role="presentation">
                <a href="{{ api_url.doc_uri }}">What's new?</a>
            </li>
            <li role="presentation">
                <a href="{{ profile_uri }}">Your profile</a>
            </li>
            <li role="separator" class="divider"></li>
            <li role="presentation">
                <a href="{{ api_url.support_uri }}">PHPFusion support</a>
            </li>
            <li role="presentation">
                <a href="{{ api_url.how_uri }}">How to use PHPFusion</a>
            </li>
            <li role="separator" class="divider"></li>
            <li role="presentation">
                <a href="{{ signout_uri }}">Sign out</a>
            </li>
        </ul>
    </div>
</div>
