<!--    Adminpassword_page-->
{{ opentable('Change admin password') }}
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-9">
        {{ password_form_open|raw }}
        {{ password_field|raw }}
        {{ password_email_field|raw }}
        <div class="text-end">
            {{ password_submit_button|raw }}
        </div>
        {{ password_form_close|raw }}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="border border-start border-top-0 border-bottom-0 border-end-0 p-3">
            <h5>Notes:</h5>
            {{ password_text }}
        </div>
    </div>
</div>
{{ closetable() }}
